<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activate Account</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; height: 100vh; display:flex; justify-content: center; align-items: center; flex-direction: column;">
    <h1>Your Account has been activated</h1>
    <a style="background-color: black; color:white; padding:1rem; cursor:pointer; border-radius:4px;">Back to login page</a>
</body>
</html>